<div>
  <mat-toolbar color="primary" class="flex justify-around">
    <button>
      <mat-icon>menu</mat-icon>
      Menu
    </button>

    <button (click)="goToTransaction()">
      <mat-icon>account_balance</mat-icon>

      Realizar Transaccion
    </button>
    <button
    (click)="closeSession()">
        <mat-icon>exit_to_app</mat-icon>
        cerrar sesion
    </button>
  </mat-toolbar>

</div>

<div>
  <mat-card class="p-3 m-5">
    <mat-card-header>
      <mat-card-title>Usuario</mat-card-title>
      <mat-card-subtitle>Perfil</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Nombre: {{ user?.name }}</p>
      <p>Correo: {{ user?.email }}</p>
      <p>Telefono: {{ user?.phoneNumber }}</p>
      <p>Credit: $ {{ credit?.ownedCredit }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="flex justify-center">
  <mat-card class="p-3 m-5 w-1/3">
    @for (item of transactions; track item.transactionID){
    <mat-card-content>
      @if(item.subjectAccountID == user?.accountID){
      <p class="text-green-700">+ $ {{ item?.amount }}</p>
      } @else{
      <p class="text-red-700">- $ {{ item?.amount }}</p>
      }

      <p>
        {{ item?.transactionType }}
        {{ fancyTransactionDate(item?.realizationDatetime) }}
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    }
  </mat-card>
</div>

<router-outlet />
