
<div class="flex justify-center  content-center p-8 pt-56 ">

    <form [formGroup]="myform" (ngSubmit)="signUp()">
    <mat-card appearance="outlined" class="p-4">
        <mat-card-header>
            <mat-card-title>Registro</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Nombre y Apellido</mat-label>
                <input matInput  type="text" formControlName="name" >
                <mat-error *ngIf="controlHasError('name', 'required')">
                    campo requerido</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Correo</mat-label>
                <input matInput  type="text" formControlName="email" >
                <mat-error *ngIf="controlHasError('email', 'required')">
                    campo requerido</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>telefono</mat-label>
                <input matInput type="text" formControlName="phoneNumber" >
                <mat-error *ngIf="controlHasError('phoneNumber', 'required')">
                    campo requerido</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>DNI</mat-label>
                <input matInput matInput type="text" formControlName="dni" >
                <mat-error *ngIf="controlHasError('dni', 'required')">
                    campo requerido</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field>
                <mat-label>PIN</mat-label>
                <input matInput 
                [type]="passwordVisible ? 'text' : 'password'"
                formControlName="pin" >
                
                <mat-icon matSuffix (click)="passwordVisible = !passwordVisible">
                    {{ passwordVisible ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                <mat-error *ngIf="controlHasError('pin', 'required')">
                    campo requerido</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="flex justify-center">
            <button mat-raised-button color="primary">Crear Cuenta</button>
        </mat-card-actions>
    </mat-card>
</form>
</div>

<div  class="flex  justify-center  content-center ">
    <mat-card  class ="p-4">
        <mat-card-content>
            <p>Ya tienes una cuenta?</p>
        </mat-card-content>
        <button mat-raised-button color="accent" (click)="gotoLogin()">Ingresar</button>
    </mat-card>
    

</div>





  

<router-outlet/>